fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
httpx
jose
passlib
python-multipart
gunicorn
websockets
celery
redis
flask
flask-socketio
eventlet
python-engineio
python-socketio
pydantic
pydantic-settings
pypdf
pypdfium2
scikit-learn
numpy
matplotlib
pandas
openpyxl
easyocr
opencv-python-headless
whisper
gtts
pydub
edge-tts
moviepy
yt-dlp
feedparser
reportlab
restrictedpython
qrcode
fitz
pyMuPDF
apscheduler